<html>
<head>
	<style type="text/css">
		body{
		  background:rgb(100, 54, 60);
		  color:white;
		  text-align:center;
		  font-family:Helvetica, Arial, sans-serif;
		  font-size:10pt;
		}
		form{
		  width:500px;
		  margin:0 auto;
		  background:rgb(177, 150, 147);
		  border-radius:10px;
		  margin-bottom:20px;
		  padding:20px;
		}
	</style>
</head>
<body>
	<h3 align = "center" class="header">Staff Register Page</h3>
	<form action="/SregisterAuth" method="POST">
		<input type="text" name = "username" placeholder="username" required/></br>
		<input type="password" name = "password" placeholder="password" required/></br>
		Airline: 
			<select name = "airline_name" required>
			{% for line in data %}
				<option value = "{{line['airline_name']}}">{{line['airline_name']}}</option>			
			{% endfor %}
			</select> </br>
		Date of Birth: </br><input type="date" name = "date_of_birth" placeholder="date_of_birth: yyyy-mm-dd" required/></br>
		<input type="text" name = "first_name" placeholder="first_name" required/></br>
		<input type="text" name = "last_name" placeholder="last_name" required/></br>
		<input type="text" name = "phone_number" placeholder="phone_number" required/></br>
		<input type="submit" value = Register />
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}
		<br/>
		<button align = "center" onclick="window.location.href = '/'">GO BACK</button>
	</form>
</body>
</html>
